@use "../../styles/variables.scss" as *;

.explorer {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.explorer-header {
  display: flex;
  align-items: center;
  color: var(--dark);

  & h2 {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
  }
}

.explorer-content {
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 0.5rem;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    &.explorer-ul {
      overscroll-behavior: contain;
    }

    & li > a {
      color: var(--dark);
      opacity: 0.75;
      pointer-events: all;

      &.active {
        opacity: 1;
        color: var(--tertiary);
      }
    }
  }

  .folder-outer {
    visibility: collapse;
    display: grid;
    grid-template-rows: 0fr;
    transition-property: grid-template-rows, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .folder-outer.open {
    visibility: visible;
    grid-template-rows: 1fr;
  }

  .folder-outer > ul {
    overflow: hidden;
    margin-left: 6px;
    padding-left: 0.8rem;
    border-left: 1px solid var(--lightgray);
  }
}

.folder-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  user-select: none;

  & div > a {
    color: var(--secondary);
    font-family: var(--headerFont);
    font-size: 0.95rem;
    font-weight: $semiBoldWeight;
    line-height: 1.5rem;
    display: inline-block;
  }

  & div > a:hover {
    color: var(--tertiary);
  }

  & div > button {
    color: var(--dark);
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
    font-family: var(--headerFont);

    & span {
      font-size: 0.95rem;
      display: inline-block;
      color: var(--secondary);
      font-weight: $semiBoldWeight;
      margin: 0;
      line-height: 1.5rem;
      pointer-events: none;
    }
  }
}

.folder-icon {
  margin-right: 5px;
  color: var(--secondary);
  cursor: pointer;
  transition: transform 0.3s ease;
  backface-visibility: visible;
  flex-shrink: 0;
}

li:has(> .folder-outer:not(.open)) > .folder-container > svg {
  transform: rotate(-90deg);
}

.folder-icon:hover {
  color: var(--tertiary);
}

.explorer {
  @media all and not ($desktop) {
    display: flex;
    flex-direction: column;

    .explorer-header {
      padding: 0.5rem 0;
      & h2 { margin: 0; }
    }

    .explorer-content {
      box-sizing: border-box;
      margin-top: 0;
      padding: 0.5rem 0;
      max-height: none;
      overflow: visible;

      & > div, & .explorer-ul {
        max-height: none;
        overflow: visible;
      }
    }
  }
}
