@use "./base.scss";

/*
  This snippet centers all Mermaid diagrams in Obsidian.
*/
div.mermaid {
    display: flex;
    justify-content: center;
}

// put your custom CSS here!

/* Horizontally center the graph in the page content */
.desmos-graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Center code blocks */
pre {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

pre > code {
  width: fit-content;
  text-align: left; /* Keep the ASCII lines aligned with each other */
}

figure[data-rehype-pretty-code-figure] {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

